.board {
  position: relative;
  display: block;
  margin: auto;
  height: 80vh;
  width: 80vh;
  padding: 2vh;
  border: solid 4.5vh black;
}

.snake {
  position: absolute;
  height: 3.4vh;
  width: 3.4vh;
  background-color: black;
  border: solid 0.3vh white;
  z-index: 2;
}

.food {
  position: absolute;
  height: 3.4vh;
  width: 3.4vh;
  background-color: red;
  border: solid 0.3vh white;
  z-index: 1;
}

.rule {
  position: absolute;
  right: 20%;
  top: 15%;
  height: 60vh;
  width: 60vh;
}

.button {
  position: relative;
  left: 32%;
  height: 10vh;
  width: 20vh;
  font-size: 3vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.description {
  position: relative;
  margin-left: 10vh;
  margin-right: 10vh;
  top: 5%;
  text-align: center;
}

#game {
  justify-content: center;
}